[/]
show-window-previews=false
focus-highlight=true
animate-show-apps=false
dot-color-unfocused-1='#5294e2'
dot-color-unfocused-2='#5294e2'
dot-color-unfocused-3='#5294e2'
dot-color-unfocused-4='#5294e2'
dot-position='TOP'
dot-size=0
focus-highlight-color='#eeeeee'
multi-monitors=false
group-apps=false
focus-highlight-opacity=50
location-clock='STATUSRIGHT'
hotkeys-overlay-combo='TEMPORARILY'
dot-color-1='#5294e2'
dot-color-2='#5294e2'
dot-color-override=false
dot-color-3='#5294e2'
dot-color-4='#5294e2'
panel-position='TOP'
appicon-margin=0
panel-size=28
show-activities-button=false
show-showdesktop-button=false
show-appmenu=false
show-favorites=false
appicon-padding=4
isolate-workspaces=true
show-tooltip=false
